@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
:root{
    --main-brand-color: #3d3d3d;
    --primary-color: #ffffff;
    --secundary-color: #3d3d3d;
    --light-secundary-color: #3d3d3d;
    --text-color: #b13636;
    --secundary-text-color: #18d040;
} 


.center {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.center h1 {
  margin-right: 20px;
}
.center button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.center p {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  max-width: 500px;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}