nav{ 
    margin-bottom: 20px;
    



}
nav ul{

    list-style: none;
    display: flex;  
    gap: 20px; 
    padding: 10px 0px 50px 1150px;

}
nav a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
ul{
    min-width: 10vh;
    background-color: var(--primary-color);
    font-family: 'Tilt Neon';
    font-size: 13px;
    color: var(--text-color); 
}